# Generic
build/
captures/
.gradle/
.idea/
.externalNativeBuild/
.cxx/
.DS_Store
local.properties
gradle.properties
google-services.json
output.json
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.iml
*.log
*.apk
*.jks
*.keystore
*.hprof

# Project Specific
api.dat
adbc.bat

# Dev Specific
branches.csv
customers.csv
markers.db